{# Utilisation du squelette "base.html.twig" #}
{% extends "base.html.twig" %}

{# Définition du titre de la page #}
{% block title %}Accueil{% endblock %}

{# Remplissage du body de la page #}
{% block body  %}

    {# Grille de Bootstrap #}
    <div class="container-fluid">

        {# Titre h1 de la page #}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-5">{{ site_name }}</h1>
            </div>
        </div>

        {# Contenu lorem #}
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">

                <h2 class="text-center my-4">The Batman
                    Bruce Wayne (véritable identité).</h2>

                <p class="text-center">Bruce Wayne, alias Batman, est un super-héros de fiction appartenant à l'univers de DC Comics. Créé par le dessinateur Bob Kane et le scénariste Bill Finger, il apparaît pour la première fois dans le comic book Detective Comics no 27 en 1939 — mai 1939 comme date sur la couverture mais la date réelle de parution est le 30 mars 1939 — sous le nom de The Bat-Man.</p>

            </div>
        </div>

        {# Affichage de l'image fixe en bandeau #}
        <div class="row my-5 batman-cover"></div>


    </div>

{% endblock %}